In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
url='https://www.5paisa.com/nifty-50-stocks-list'

In [6]:
headers={
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'

}

In [8]:
path=requests.get(url,headers=headers)

In [9]:
soup=BeautifulSoup(path.text,'html')

In [12]:
table=soup.find_all('table',class_="table table-bordered ownership")#find where table in the we

In [14]:
#table

In [16]:
table_title=soup.find_all('th')   #find the table titles

In [18]:
table_titles=[title.text for title in table_title]   #retrive only the title text with the help of for loop
print(table_titles)

['Company', 'LTP', 'Market Cap (Cr.)', 'PE Ratio', 'EPS']

In [20]:
import pandas as pd
df=pd.DataFrame(columns=table_titles)   #import pandas and create a dataframe with tabletitle

In [22]:
df

Empty DataFrame
Columns: [Company, LTP, Market Cap (Cr.), PE Ratio, EPS]
Index: []

In [46]:
column_data=soup.find_all('tr')

In [80]:
for row in column_data[1:]:
    row_data=row.find_all('td')      #take the row data
    
    row_datas=[rows.text.strip() for rows in row_data]

    length=len(df)  #length of the dataframe and each value assign to the df
    #print(length)
    df.loc[length]=row_datas
    #print(row_datas)

In [62]:
df

,Company,LTP,Market Cap (Cr.),PE Ratio,EPS
0,Asian Paints Ltd,2320.75,222505.11,48.5,47.83
1,Britannia Industries Ltd,4939.2,118913.06,56.48,87.41
2,Cipla Ltd,1468.8,118723.3,28.04,52.42
3,Eicher Motors Ltd,5058.45,138712.4,34.72,145.73
4,Nestle India Ltd,2247.9,216540.06,68.18,32.94
5,Grasim Industries Ltd,2364.1,155763.88,133.94,17.66
6,Hero MotoCorp Ltd,4122.2,82449.81,18.67,220.78
7,Hindalco Industries Ltd,574.45,129103.16,23.01,24.97
8,Hindustan Unilever Ltd,2442.05,573758.44,56.49,43.23
9,ITC Ltd,444.9,556583.44,27.03,16.46
10,Trent Ltd,6584.1,233980.07,173.35,37.97
11,Larsen & Toubro Ltd,3536.15,486143.06,50.02,70.67
12,Mahindra & Mahindra Ltd,3092.85,384505.33,35.25,87.71
13,Reliance Industries Ltd,1241.9,1681193.88,46.01,27
14,Tata Consumer Products Ltd,972.8,96210.01,96.56,10.07
15,Tata Motors Ltd,774.65,285084.72,47.19,16.41
16,Tata Steel Ltd,127.43,159040.14,9.76,13.05
17,Wipro Ltd,300.55,314705.19,32.92,9.13
18,Apollo Hospitals Enterprise Ltd,7036.75,101112.25,90.04,78.1
19,Dr Reddys Laboratories Ltd,1354.4,112997.69,23.49,57.64
20,Titan Company Ltd,3440.25,305340.73,92.51,37.18
21,State Bank of India,743.25,663233.14,9.42,78.9
22,Shriram Finance Ltd,532,100012.83,12.8,41.57
23,Bharat Petroleum Corporation Ltd,277.65,120436.91,8.48,32.72
24,Bharat Electronics Ltd,271,198095.01,43.57,6.22
25,Kotak Mahindra Bank Ltd,1756.2,349282.35,24.86,70.66
26,Infosys Ltd,1966.95,816626.78,29.57,66.5
27,Bajaj Finance Ltd,7288.05,450471.59,33.1,219.85
28,Adani Enterprises Ltd,2374.4,274002.51,100.3,23.67
29,Sun Pharmaceuticals Industries Ltd,1784.8,428533.22,155.44,11.49
30,JSW Steel Ltd,900.1,220372.08,34.74,25.94
31,HDFC Bank Ltd,1656.75,1267440.61,19.24,86.14
32,Tata Consultancy Services Ltd,4265.65,1543313.32,31.93,133.59
33,ICICI Bank Ltd,1249.85,881501.01,20.13,62.02
34,Power Grid Corporation of India Ltd,299.7,278832.1,18.31,16.37
35,Maruti Suzuki India Ltd,11631.1,365389.24,26.62,436.6
36,IndusInd Bank Ltd,937.6,73043.88,8.99,104.26
37,Axis Bank Ltd,1040.7,322154.51,12.32,84.49
38,HCL Technologies Ltd,1995.1,541539.01,45.87,43.51
39,Oil & Natural Gas Corpn Ltd,263.02,330924.24,8.13,32.34
40,NTPC Ltd,308.25,298851.25,15.99,19.27
41,Coal India Ltd,368.5,227158.17,13.46,27.38
42,Bharti Airtel Ltd,1615.9,919933.99,121.8,13.26
43,Tech Mahindra Ltd,1705.6,166917.45,56.94,29.95
44,Adani Ports & Special Economic Zone Ltd,1112.2,240229.05,96.2,11.56
45,HDFC Life Insurance Company Ltd,608.65,131019.58,77.63,7.84
46,SBI Life Insurance Company Ltd,1478.3,148133.81,67.9,21.77
47,UltraTech Cement Ltd,10865.2,313707.26,48.25,225.21
48,Bajaj Auto Ltd,8764,244770.69,29.91,293.01
49,Bajaj Finserv Ltd,1701.25,271408.61,174.7,9.73

In [76]:
df.to_csv(r'C:\Users\ranji\Desktop\project\5paisa.csv',index=False)  #convert the file into excel